<div class="container d-flex flex-column align-items-center justify-content-center text-center" *ngIf="users.length != 0">
    <h4 class="title--h4">Ranking</h4>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col"> {{"pages.home.position" | translate}}</th>
                <th scope="col"> {{"pages.home.player" | translate}}</th>
                <th scope="col"> {{"pages.home.clics" | translate}} </th>
            </tr>

        </thead>
        <tbody>
            <tr *ngFor=" let user of users; let i = index">
                <td>{{i+1}}º</td>
                <td>{{user.name}}</td>
                <td>{{user.clickCount}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="users.length == 0">
    <h4 class="title--h4 ms-3" >{{"pages.home.noUsersRanking" | translate}}</h4>

</div>